// sass/base/_base.scss

@use '../abstracts/variaveis' as var;

body {
    font-family: var.$font-stack;
    margin: 0;
    padding: 0;
    // Cor de fundo original mantida
    background-color: hwb(0 6% 73% / 0.171); 
    color: var.$color-text-body;
}

ul {
    list-style-type: none;
    padding: 8px;
    margin: 10px;
}