@use 'variaveis' as var;



@mixin repond-to($breakpoint){
  @if $breakpoint == mobile {
    @media (max-width: var.$breakpoint-mobile) {
      @content;
    }
  } @else if $breakpoint == tablet {
    @media (max-width: var.$breakpoint-tablet) {
      @content;
    }
  }
}