$color-primary: #1e83d6;
$color-secondary: #586068;
$color-text-dark: #333;
$color-text-body: #0a0a0a;
$color-footer-bg: $color-primary;
$color-header-bg: #ffffff;
$color-title: #740c1a;

//fontes
$font-stack: 'Arial', sans-serif;

//espacamentos
$spacing-default: 1rem;
$radius-default: 5px;
$radius-large: 20px;

//pontos de interrupção
$breakpoint-tablet: 768px;
$breakpoint-mobile: 480px;